In [1]:
for ch in "CS41": #Loops over string "CS41". Count of iterations isn't maintained
    print(ch)

C
S
4
1

In [2]:
for number in [3,1,4,1,5]: #Loops over list [3,1,4,1,5]. Count of iterations isn't maintained
    print(number**2,end='|')

9|1|16|1|25|

In [14]:
range(3) #Generates 0,1,2 Range() creates sequence of numbers based on arguments

range(0, 3)

In [11]:
range(5,10) #Generates 5,6,7,8,9

range(5, 10)

In [17]:
range(2,12,3) #Generates 2,5,8,11

range(2, 12, 3)

In [15]:
range(-7, -30, -5) #Generates -7,-12, -17, -22, -27

range(-7, -30, -5)

In [24]:
for n in range(2,10):
    if n==6:
        break                 #'Break' breaks out of the loop
    print(n,end=', ')

2, 3, 4, 5,

In [25]:
for letter in "STELLAR":
    if letter in "LE":
        continue              #'Continue' continues with the next iteration of the loop
    print(letter, end='*')

S*T*A*R*

In [30]:
#Find powers of 3 below 10000
n=1
while n<10000:
    print(n)
    n *= 3    #same as n=n*3

1
3
9
27
81
243
729
2187
6561